<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <title>hishow!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="application/rss+xml" title="deepneko bot" href="http://twitter.com/statuses/user_timeline/techcrunch_bot.atom" />
  <link rel="stylesheet" type="text/css" href="/css/screen.css" />

  <style type="text/css">
	.five { margin-left: 230px; }
	.extra {padding-bottom: 20px;}
  </style>
</head>

<body>
<div id="header-outer"><div id="header"><!-- start #header and #header-outer -->
</div></div><!-- end #header and #header-outer -->

<hr />

<div id="main-outer"><div id="main"><!-- start #main and #main-outer -->
<h1 class="post-head"><a href="/">hishow!</a></h1>

<%= yield %>

</div></div><!-- end #main and #main-outer -->
</body>
</html>
