/*  This code is copyrighted to Jason Santa Maria.
    This means you may NOT use it for your site's design.  */

/* PNG fixes */

* html #logo a:link .bug,
* html #logo a:visited .bug { /* for IE<6 */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/i/logo-bug-wh.png'); background-image: none; background-repeat: no-repeat;
	}
* html #logo a, 
* html #logo a:link, 
* html #logo a:visited {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/i/logo-type-wh.png'); background-image: none; background-repeat: no-repeat;
	}

* html .dp-comment {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/i/comment-sm-wh.png'); background-image: none; background-repeat: no-repeat 0 1px;
	}

* html #post-meta-top ul .comms em,
* html #post-meta-bott ul .comms em {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/i/comment-lg-bk.png'); background-image: none; background-repeat: no-repeat 0 3px;
	}

* html #comm-list a.comm-link {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/i/comment-lg-bk.png'); background-image: none; background-repeat: no-repeat;
	}

* html #comm-preview dt {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/i/comment-lg-bk.png'); background-image: none; background-repeat: no-repeat 0 2px;
	}

* html .comm-count {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='/i/comment-sm-bk.png'); background-image: none; background-repeat: no-repeat 0 2px;
	}

/* fixes doubled float margin bug:
http://positioniseverything.net/explorer/doubled-margin.html */

* html #content,
* html #post-meta-top,
* html .left.inset {
	display: inline;
	}

/* contain header */

* html #header {
	overflow: hidden;
	}

/*	Needs hasLayout */

* html #sub .book-indv,
* html #portfolio .port-nav dd,
* html #comm-list li {
	height: 1%;
	}
* html .port-list {
	height: 1%;
	margin-bottom: 10px !important;
	}

/* adjust search text box width */

* html .btn {
	line-height: 1;
	}
* html #search-text {
	width: 190px;
	}

/* adjust nav to use text instead of images */

* html #nav {
	float: left;
	width: 644px;
	height: 38px;
	}

* html #nav ul {
	list-style: none;
	padding-left: 4px;
	height: 38px;
	font-family: "Trebuchet MS", "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	}

* html #nav li {
	height: 38px;
	font-family: "Trebuchet MS", "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	}

* html #nav li a, * html #nav li a:visited {
	height: 38px;
	overflow: hidden;
	display: block;
	float: left;
	text-indent: 0;
	text-decoration: none;
	margin-right: 30px;
	background-image: none !important;
	padding: 18px 6px 6px;
	height: 16px;
	width: auto !important;
	}

* html #nav li a:hover,
* html body#home #nav-home a, 
* html body#articles #nav-articles a,
* html body#articles-indv #nav-articles a,
* html body#portfolio #nav-portfolio a,
* html body#oddities #nav-oddities a,
* html body#dailyphoto #nav-dailyphoto a,
* html body#dp-indv #nav-dailyphoto a,
* html body#about #nav-about a,
* html body#home #nav-home a:hover, 
* html body#articles #nav-articles a:hover,
* html body#articles-indv #nav-articles a:hover,
* html body#portfolio #nav-portfolio a:hover,
* html body#oddities #nav-oddities a:hover,
* html body#dailyphoto #nav-dailyphoto a:hover,
* html body#dp-indv #nav-dailyphoto a:hover,
* html body#about #nav-about a:hover {
	background-image: none;
	}
