/*  This code is copyrighted to Jason Santa Maria.
    This means you may NOT use it for your site's design.  */

#grid { /* Diagnostic only. Comment out when not testing */
	width: 100%;
	height: 6000px;
	z-index: 999;
	position: absolute;
	background: transparent url(../i/grid-bg.png) repeat-y;
	}

/*
----------------------------------------------------------------
	B A S E
---------------------------------------------------------------- */

body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
	font-size: 12px;
	color: #333;
	background: #fff;
	}

entry {
	text-align:left;
	vertical-align:top;
	font-size:15px;
	}

/* L I N K S */

a:link, a:visited {
	color: #c30;
	text-decoration: none;
	}
	
a:hover {
	color: #600;
	text-decoration: underline;
	}

/* S T R U C T U R E */

#main-outer {
	background: transparent;
	width: 100%;
	clear: both;
	}

#main {
	width: 910px;
	padding: 0 0 20px;
	text-align: left;
	background: transparent;
	float: left;
	}

#content {
	width: 870px;
	float: left;
	margin: 0 20px 2px;
	padding-bottom: 20px;
	background: transparent;
	border-bottom: 1px solid #ccc;
	}

/*
----------------------------------------------------------------
	H E A D E R
---------------------------------------------------------------- */

#header-outer {
	background: #000;
	height: 46px;
	width: 100%;
	float: left;
	clear: both;
	margin: 0 0 15px 0;
	}

#header {
	width: 910px;
	height: 46px;
	padding: 0;
	text-align: left;
	float: left;
	}

/* D E F A U L T  H O V E R  A N D  C U R R E N T  S T A T E S */

#nav li a:hover,
body#home #nav-home a, 
body#articles #nav-articles a,
body#articles-indv #nav-articles a,
body#portfolio #nav-portfolio a,
body#oddities #nav-oddities a,
body#dailyphoto #nav-dailyphoto a,
body#dp-indv #nav-dailyphoto a,
body#about #nav-about a {
	background-color: #c30;
	background-repeat: no-repeat;
	}

/* C U R R E N T  H O V E R  S T A T E S */

#nav-home a:hover, body#home #nav-home a, body#home #nav-home a:hover {
	background-position: 0 -38px;
	}
#nav-articles a:hover, body#articles #nav-articles a, body#articles #nav-articles a:hover, body#articles-indv #nav-articles a, body#articles-indv #nav-articles a:hover {
	background-position: -52px -38px;
	}
#nav-portfolio a:hover, body#portfolio #nav-portfolio a, body#portfolio #nav-portfolio a:hover {
	background-position: -134px -38px;
	}
#nav-oddities a:hover, body#oddities #nav-oddities a, body#oddities #nav-oddities a:hover {
	background-position: -225px -38px;
	}
#nav-dailyphoto a:hover, body#dailyphoto #nav-dailyphoto a, body#dailyphoto #nav-dailyphoto a:hover, body#dp-indv #nav-dailyphoto a, body#dp-indv #nav-dailyphoto a:hover {
	background-position: -304px -38px;
	}
#nav-about a:hover, body#about #nav-about a, body#about #nav-about a:hover {
	background-position: -412px -38px;
	}

body#home #nav-home a:hover, 
body#articles #nav-articles a:hover,
body#articles-indv #nav-articles a:hover,
body#portfolio #nav-portfolio a:hover,
body#oddities #nav-oddities a:hover,
body#dailyphoto #nav-dailyphoto a:hover,
body#dp-indv #nav-dailyphoto a:hover,
body#about #nav-about a:hover {
	background-color: #600 !important;
	background-repeat: no-repeat;
	}


/*
----------------------------------------------------------------
	M I S C
---------------------------------------------------------------- */

hr, .hide {
	display: none;
	}

a img {
	border: none;
	}

.rss-icon {
	background: #c33;
	margin: 0 0.2em -0.1em 0;
	}

/*
----------------------------------------------------------------
	C O N T E N T
---------------------------------------------------------------- */

h2 {
	padding: 5px 0 10px;
	font-size: 22px;
	color: #222;
	font-weight: 300;
	font-family: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
	}

#about h2, #contact h2, #error h2, #search h2 {
	padding: 5px 0 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	}

#about h3, #contact h3, #error h3, #search h3 {
	padding: 5px 0 8px;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #666;
	font-weight: 300;
	font-family: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
	}

#col1 h3 {
	padding: 5px 0;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #000;
	font-weight: bold;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
	}

#home h2, #articles-indv h2 {
	margin: 0 120px 0 230px;	
	font-weight: 400;
	}

#home .post-head, #articles-indv .post-head, #main h1 {
	font-size: 50px;
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-weight: normal;
	text-transform: none;
	border-bottom: 1px solid #ccc;
	margin: 0 20px 2px;
	line-height: 60px;
	color: #444;
	padding: 10px 0;
	letter-spacing: 0;
	}

#home .post-head a:link, #home .post-head a:visited {
	color: #fff;
	text-decoration:none;
	}

#home .post-head a:hover {
	color: inherit !important;
	text-decoration:none;
	}

#main .post-head a:link, #main .post-head a:visited {
	color: #000;
	text-decoration:none;
	}

#main .post-head a:hover {
	color: #c30;
	text-decoration:none;
	}

code {
	color: #08c;
	font-family: Monaco, "Andale Mono","Lucida Console","Bitstream Vera Sans Mono","Courier New", monospace;
	font-size: 12px;
	text-align: left;
	}

#content pre {
	margin: 0 120px 20px 150px;
	font-size: 14px;
	line-height: 20px;
	}

.illo code, .illo pre, .caption code, .caption pre {
	font-size: 11px;
	}

.btn {
	padding: 4px 4px 4px 5px;
	border: 0;
	font-size: 12px;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
	}

.search-btn {
	background: #3d3d3d;
	color: #e5e5e5;
	}

.default-btn {
	background: #333333;
	color: #e5e5e5;
	}

.comment-btn {
	background: #333333;
	color: #e5e5e5;
	}

/*	C O L  1 */

#col1 {
	float: left;
	clear: both;
	}

#col1 .lead {
	font-size: 20px;
	line-height: 30px;
	}

#articles #content, #about #content, #contact #content, #dailyphoto #content, #oddities #content, #error #content, #search #content {
	border-top: 1px solid #ccc;
	/*margin-top: 2px;*/
	}

#dp-indv #content {
	border: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	}

#content p, #comments p {
	margin: 0 120px 20px 150px;
	font-family: Georgia, Times, serif;
	font-size: 14px;
	line-height: 20px;
	}

#content a, #content a:link, #content a:visited, #comments a:link, #comments a:visited {
	text-decoration: underline;
	}

#content ul, #content ol {
	margin: 0 150px 20px 230px;
	font-family: Georgia, Times, serif;
	font-size: 13px;
	line-height: 20px;
	color: #444;
	}

#col2 ul, #col2 ol {
	margin: 0 0 20px 20px;
	}

#content li {
	margin-bottom: 10px;
	}

#content blockquote {
	margin: 0 120px 20px 230px;	
	padding: 25px 25px 2px;
	border: 1px dashed #ccc;
	background: #eee;
	}
	
#content blockquote p {
	margin-left: 0;
	margin-right: 0;
	font-style: italic;
	}
	
/*	I M A G E S  and  C A P T I O N S */

#content .solo img {
	margin-bottom: 20px;
	}

#content .illo p, #content .caption {
	font-size: 11px;
	line-height: 16px !important;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
	color: #666;
	margin: 4px 0 10px 0;
	}
	
.border {
	border: 1px solid #ccc;
	}
	
.left { float: left; padding-right: 20px; }

.right { float: right; padding-left: 20px; }

.right.six { margin-right: -10px; }

.one { width: 100px; }

.two { width: 210px; } /* quarter */

.three { width: 320px; }

.four { width: 430px; } /* half */

.five { width: 540px; }

.six { width: 650px; }

.seven { width: 760px; }

.eight { width: 870px; } /* full */

.right.inset { /* image floated right within text */
	margin-left: 20px;
	}

.left.inset { /* image floated left within text */
	margin-left: 230px;
	}

.metanav {
	clear: both;
	margin: 0; 
	padding: 0;
	}

.metanav li {
	display: inline;
	padding: 0 10px;
	border-left: 1px solid #333;
	margin: 0;
	background: none;
	}

.metanav .first {
	padding-left: 0;
	border: none;
	}


/*
----------------------------------------------------------------
	F O R M S
---------------------------------------------------------------- */

/*	S E A R C H */

fieldset, form {
	border: none;
	padding: 0;
	margin: 0;
	}
	
#search-text {
	width: 200px;
	font-size: 1.1em;
	margin: 0 4px 0 0;
	display: inline; 
	}

#sub form input {
	vertical-align: middle;
	}

/*
----------------------------------------------------------------
	P O S T  N A V
---------------------------------------------------------------- */

/*	T O P */

#post-meta-head {
	margin: 5px 25px 5px;
	position: relative;
	float: left;
	clear: both;
	}

#post-meta-top {
	margin: 0 20px 20px;
	position: relative;
	float: left;
	clear: both;
	height: 50px;
	}

#post-meta-top ul {
	border-top: 1px solid #ccc;
	position: relative;
	list-style: none;
	width: 870px;
	}

#post-meta-top ul li {
	position: absolute;
	top: 0;
	display: block;
	padding: 8px 0 8px 10px;
	margin-bottom: 26px;
	}

#post-meta-top ul .date {
	width: 150px;
	margin-right: 0px;
	left: 0;
	}

#post-meta-top ul .comms em {
	padding-left: 22px;
	background: transparent url('../i/comment-lg-bk.png') no-repeat 0 3px;
	}
	
#post-meta-top ul .comms a:link {
	display: block;
	}

#post-meta-top ul .cats {
	width: 600px;
	border-left: 1px solid #ccc;
	left: 150px;
	}

#post-meta-top ul strong {
	color: #666;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
	}

#post-meta-top ul a:link strong, #post-meta-top ul a:visited strong {
	color: #666;
	}

#post-meta-top ul em {
	font-style: normal;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
	font-weight: bold;
	}

#post-meta-top span a:link,
#post-meta-top a:link em, 
#post-meta-top span a:visited,
#post-meta-top a:visited em {
	color: #333;
	}

#post-meta-top ul span {	
	font-size: 18px;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
	}

#post-meta-top ul .cats span {	
	color: #666;
	}

#post-meta-top ul .arch {
	width: 600px;
	margin-right: 9px;
	border-left: 1px solid #ccc;
	left: 150px;
	padding-top: 20px;
	display: block;
	}

/* B O T T O M */

#post-meta-bott {
	margin: 0 20px;
	position: relative;
	clear: both;
	height: 48px;
	}

#post-meta-bott ul {
	border-top: 1px solid #ccc;
	clear: both;
	position: relative;
	list-style: none;
	width: 870px;
	}

#post-meta-bott ul li {
	position: absolute;
	display: block;
	padding: 8px 0 8px 10px;
	top: 0;
	}

#post-meta-bott ul .comms {
	width: 90px;
	margin: 0 9px 0 0;
	font-weight: bold;
	border-left: 1px solid #ccc;
	left: 109px;
	}

#post-meta-bott ul .comms em {
	padding-left: 22px;
	background: transparent url('../i/comment-lg-bk.png') no-repeat 0 3px;
	}

#post-meta-bott ul .comms a:link,
#post-meta-bott ul .prev a:link,
#post-meta-bott ul .next a:link, 
#post-meta-top ul .prev a:link,
#post-meta-top ul .next a:link {
	display: block;
	}

#post-meta-bott ul .tags {
	width: 420px;
	margin-right: 9px;
	border-left: 1px solid #ccc;
	left: 150px;
	}

#post-meta-bott ul .prev, #post-meta-top ul .prev {
	width: 90px;
	margin-right: 9px;
	padding-top: 20px;
	border-left: 1px solid #ccc;
	text-transform: uppercase;
	left: 659px;
	}

#post-meta-bott ul .next, #post-meta-top ul .next {
	width: 80px;
	padding-top: 20px;
	margin-right: 10px;
	text-align: right;
	border-left: 1px solid #ccc;
	text-transform: uppercase;
	left: 769px;
	}

#post-meta-bott ul strong {
	color: #666;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
	}

#post-meta-bott ul a:link strong, #post-meta-bott ul a:visited strong {
	color: #666;
	}

#post-meta-bott ul em {
	font-style: normal;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
	}

#post-meta-bott span a:link, 
#post-meta-bott a:link em, 
#post-meta-bott span a:visited, 
#post-meta-bott a:visited em {
	color: #333;
	}

#post-meta-top ul a:hover strong,
#post-meta-top span a:hover,
#post-meta-top a:hover em, 
#post-meta-bott ul a:hover strong,
#post-meta-bott span a:hover,
#post-meta-bott a:hover em {
	color: #600 !important;
	}

#post-meta-bott ul span {	
	font-size: 18px;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
	}

#post-meta-bott ul .tags span {	
	color: #666;
	}

/*
----------------------------------------------------------------
	F O O T E R
---------------------------------------------------------------- */

#footer-outer {
	padding: 0 0 40px;
	border-top: 1px solid #2f2f2f;
	background: #000;
	width: 100%;
	float: left;
	}
#footer {
	width: 850px;
	padding: 20px 30px 0;
	margin: 0;
	color: #999;
	}
#footer p {
	margin: 0;
	padding: 0;
	line-height: 20px;
	}
